@model TheUCFour.Models.ProductViewModel



<table class="table table-bordered" id="ProductDetails">
    <thead>
        <tr>
            <th>SL</th>
            <th>Code No</th>
            <th>Name</th>
            <th>ReorderLevel</th>
            <th>Description</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int sl = 1;
        }
        @foreach (var product in Model.Products)
        {
        <tr>
            <td>@(sl++)</td>
            <td>@product.Code</td>
            <td>@product.Name</td>
            <td>@product.ReorderLevel</td>
            <td>@product.Description</td>
            <td>@product.Category.Name</td>
            <td>
                <span style="font-weight:bold;">
                    @Html.ActionLink("Edit", "EditProduct", "Product", new { Id = product.Id },
                    new { @class = "fa fa-edit", style = "text-decoration:none;font-weight:bold;" })
                </span>
                <span style="font-weight:bold;">
                    @Html.ActionLink("View", "ShowByIdProduct", "Product",
                    new { Id = product.Id }, new { @class = "fa fa-eye", style = "text-decoration:none;font-weight:bold;" })
                </span>
            </td>
        </tr>
        }
    </tbody>

</table>


@*<table id="customers">
    <tr>
        <th>SL</th>
        <th>Code No</th>
        <th>Name</th>
        <th>ReorderLevel</th>
        <th>Description</th>
        <th>Category</th>
        <th style="text-align:center">Action</th>
    </tr>
    @{
        int i = 0;
    }
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@(++i)</td>
            <td>@product.Code</td>
            <td>@product.Name</td>
            <td>@product.ReorderLevel</td>
            <td>@product.Description</td>
            <td>@product.Category.Name</td>
            <td>
                <span style="font-weight:bold;">
                    @Html.ActionLink("Edit", "EditProduct", "Product", new { Id = product.Id }, null)
                </span>
                <span style="font-weight:bold;">
                    @Html.ActionLink("View", "ShowByIdProduct", "Product", new { Id = product.Id }, null)
                </span>
            </td>
        </tr>
    }

</table>*@